{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">

              <h1>Авторизация</h1>
        <a href="/register">регистрация</a>

<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
{% if err %}
<div class="alert alert-danger" role="alert">
  {{ err }}
</div>
{% endif %}
          <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Имя</label>
    <input  class="form-control" id="exampleFormControlInput1" placeholder="name" name="login">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Пароль</label>
    <input type="password" class="form-control" id="exampleFormControlInput1"  name="password">
  </div>

              <button type="submit" class="save btn btn-primary">Войти</button

</form>
        </form>

    </div>
  </div>
{%endblock %}